/* :root {
	--background-color: rgb(64, 46, 122);
	--primary-color: rgb(76, 59, 207);
	--secondary-color: rgb(75, 112, 245);
	--highlight-color: rgb(61, 194, 236);
} */

:root {
	--color-1: #8b8c89;
	--color-2: #a3cef1;
	--color-3: #6096ba;
	--color-4: #274c77;
	--color-5: #e7ecef;

	--background-color: var(--color-5);
	--primary-color: var(--color-5);
	--secondary-color: var(--color-3);
	--highlight-color: var(--color-4);
}

html,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: var(--primary-color);
	overflow: hidden;
}